#particles-js {
  position: fixed;
  width: 100%;
  height:100%;
  background-color: #7A76E1;
  z-index: -100;
 
 
}

.main-outer{
  
 /* background-color: mediumslateblue;*/
  width: 100vw;
  height: 100vh;


}

.navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      font-size: 12px;
      letter-spacing: 5px; 

     
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;

  }

#brand{
  color:#1abc9c ;
  font-family: sans-serif;
  font-size: 2.5em;
}

#collapsible-contents{
margin-left: 2%;
font-size: 1.2em;

}
.top-backed{
  background-image: url("top-back.jpg");
background-attachment: fixed;
height: 400px;
}
.intro-wrapper{
margin-top: 10%;
color: black;
font-size: 4em;
text-align: center;
 text-shadow:5px 2px 4px white;



}
.second-wrapper{
  background-color:skyblue;
  margin-top: 15%;
  height: 500px;
  border-top: 2px solid black;


}
.intro-second{
  font-size: 0.9em;
  opacity: 0.8;
}

.intro-third{
  margin-top: 10%;
  text-align: center;
  color: yellowgreen;
  font-size: 2.4em;
}
.top-imgback{
		max-width: 100%;
	z-index: -20;



}


.top-layer{

	position: absolute;
	text-transform: uppercase;
	
	top:17vw;
	text-align: center;
	
	padding: 20px;
	font-weight: 900;
	border: 1px solid white;
	border-radius: 4%;
	

}

  .margin {
    margin-bottom: 25px;
  	text-align: center;
    font-size:40px;
    font-weight: 700;
    font-family: cursive;
    padding-top: 30px;
    text-transform: uppercase;
  }

  	p {font-size: 16px;
    }



.image-top{
   text-shadow: 2px 2px 3px white;
   opacity: 0.7;
   border: 1px solid white;
   border-radius: 5%;
   cursor: pointer;
   box-shadow: 0px 1px 8px hsl(0.0, 0.0%, 100.0%);

}
.second-sec{

		background-image:url(top-back.jpg);
	text-align: center;
	padding: 300px;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
  box-shadow: 0px 4px 20px cadetblue;


}


.second-sec-wrapper{

text-align: center;
padding: 50px;
}
.about-me-txt{

	padding: 20px;
	margin: 20px;
	padding-top: 30px;
  color: gray;
  padding-bottom: 100px;
  letter-spacing: 1.5;
  line-height: 2;
}

.projects-wrapper{

padding: 20px;

}
/**/


  .bg-2 { 
      background-color: skyblue; /* Dark Blue */
      border-top: 2px solid black;
      color: #ffffff;
      padding: 20px;
      padding-bottom: 60px;
  }
  

  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
  .skills{
    border-right: 1.5px solid black;
  line-height: 15;

  }
  .skills-left-inner{
    font-size: 2em;
    font-family: cursive;
  }
  .skills-right{

    padding: 20px;
  }
  .skills-right-text{

    font-size: 1.4em;
    color: gray;
  }
  .bars{
    padding: 20px;
  }
  .inner-projects{
    padding: 20px;
  }
  .contact-me-wrapper{

    padding: 30px;
  }
  .contact-heading{
    color: lightsteelblue;

  }
  .contact-inner{
    padding: 20px;
  }
.icons{
  padding: 20px;
  color:greenyellow;
  opacity: 0.7;
  transition:opacity 1s ;
}

.icons:hover{

  opacity: 1;
}

/**/
.loader-wrapper{

  background-color: snow;
  position:absolute;
  width: 100%;
  height: 100%;

}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    position: relative;
    width: 120px;

    height: 120px;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
img{
 margin: 20px;
}
.btn{

  margin: 30px;
}

.made-by{
  opacity: 0.4;
  padding-top: 40px;

}